#slice-container-2 a.satellite-button {
    width: 120px;
    font-size: 13px;
    color: #404040;
    display: block;
    z-index: 2;
    pointer-events: auto;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#slice-container-2 a.satellite-button:last-child {
    border: none;
}

#slice-container-2 a.satellite-button:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#slice-container-2 a.satellite-button-active {
    width: 120px;
    font-size: 13px;
    color: #404040;
    display: block;
    z-index: 2;
    pointer-events: auto;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    background-color: #3887be;
    color: #ffffff;
}

#slice-container-2 a.satellite-button-active:hover {
    background: #3074a4;
}